<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Намба. <%= @photos['param']['album']['title'] %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body style="font-family: 'Lobster', cursive;">

<div id="container">
  <a href="https://github.com/puzanov/namba-gallery"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
  <header>
    <h1>Фотографии с Намбы</h1>
    <p><%= @photos['param']['album']['title'] %></p>
  </header>
  <div id="main" role="main">
    <div style="text-align: center;"><progress id="progress-bar" style="display: none;"></progress></div>
    <ul id="tiles">
      <% @photos['elements'].each do |element|  %>
        <li><a href="http://namba.kg/#!/photo/<%= element['id']%>"><img border="0" width="300" src="<%= element['big_preview'] %>"></a></li>
      <% end %>
    </ul>
  </div>
  <footer>

  </footer>
</div>

<script src="/jquery-1.8.3.min.js"></script>
<script src="/jquery.wookmark.min.js"></script>
<script src="/jquery.imagesloaded.js"></script>

<!-- Once the images are loaded, initalize the Wookmark plug-in. -->
<script type="text/javascript">
  var imalo = $('#tiles').imagesLoaded(function($images, $proper, $broken) {
    // Prepare layout options.
    var options = {
      autoResize: true, // This will auto-update the layout when the browser window is resized.
      container: $('#main'), // Optional, used for some extra CSS styling
      offset: 5, // Optional, the distance between grid items
      itemWidth: 310 // Optional, the width of a grid item
    };

    x = 1;

    $images.each( function() {
      var $this = $(this).css({ left: x });
      x += $this.width() + 1;
    });

    // Get a reference to your grid items.
    var handler = $('#tiles li');
    // Call the layout function.
    handler.wookmark(options);
  });

  imalo.progress( function( isBroken, $images, $proper, $broken ){
    if ($proper.length + $broken.length == $images.length) {
      $("#progress-bar").hide();
    } else {
      $("#progress-bar").show();
      $("#progress-bar").attr("value", $proper.length + $broken.length);
      $("#progress-bar").attr("max",   $images.length);
    }
    console.log( 'Loading progress: ' + ( $proper.length + $broken.length ) + ' out of ' + $images.length );
  });
</script>

</body>
</html>